.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
#root,
#map {
  width: 100%;
  height: 100%;
  margin: 0;
}
.list {
  width: auto;
}
#opener {
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 0;
}
.opener:hover, .opener:focus {
    background: "white";
  }
}
